@font-face {
  font-family: 'Vollkorn';
  src: url("../../../assets/fonts/Vollkorn/Vollkorn-Bold.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("../../../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  /*font-weight: bold;*/
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Vollkorn', Times, serif;
  margin: 0;
}

p{
  font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
  margin: 0;
}

#woodcut{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  z-index: -2;
}

#woodcut.Section10{
  background: url("assets/icons/Timeline/woodcuts/01WK_197.jpg") 50% 50% fixed;
  background-size: 600px;
}

#woodcut.Section20{
  background: url("assets/icons/Timeline/woodcuts/02WK_130.jpg") 50% 50% fixed;
  background-size: 600px;
}

#woodcut.Section30{
  background: url("assets/icons/Timeline/woodcuts/03WK_71.jpg") 50% 50% fixed;
  background-size: 600px;
}

#woodcut.Section40{
  background: url("assets/icons/Timeline/woodcuts/04WK_35.jpg") 50% 50% fixed;
  background-size: 600px;
}

#woodcut.Section50{
  background: url("assets/icons/Timeline/woodcuts/05WK_163.jpg") 50% 50% fixed;
  background-size: 600px;
}

#woodcut.Section60{
  background: url("assets/icons/Timeline/woodcuts/06WK_213.jpg") 50% 50% fixed;
  background-size: 600px;
}

.timeline-card{
  background: #ffffff;
}

.timeline-card:hover{
  background: #cacaca;
}

.timeline-card.lockedtrue{
  opacity: 0.5;
}

.timeline-card.nearest{
  box-shadow: 5px 0px 18px #888888;
}

.timeline-card.title{
  width: 65%;
  height: 90px;
  position: absolute;
  top: 25px;
  left: 32px;
}

.timeline-card img{
  width: 15%;
  float: left;
  margin: 6% 0 0 5%;
}

.timeline-card.exhibit{
  width: 56%;
  height: 90px;
 /* position: absolute;
  /*top: 220px;
  left: 52px;*/
}

.timeline-card h1{
  width: 70%;
  font-size: 110%;
  float: right;
  margin: 3% 5% 0% 5%;
}

.timeline-card h2{
  margin: 0% 5%;
  font-size: 110%;
  word-break: break-all;
}

.wrapIcon{
  width: 30px;
  float: right;
  height: 100%;
}

.coaIcon, .actIcon{
  border-radius: 25px;
  width: 24px;
  height: 24px;
}

.coaIcon{
  position: absolute;
  bottom: 33px;
  right: 4.5px;
  background-image: url("../../../assets/icons/WappenIcons.svg");
  background-position: 27px -28px;
  background-size: 240px;
}

.actIcon{
  position: absolute;
  bottom: 4.5px;
  right: 4.5px;
  background-image: url("../../../assets/icons/WappenIcons.svg");
  background-position: -3px -28px;
  background-size: 240px;
}

.timeline-card .timespan{
  font-size: 80%;
  margin: 5% 5% 0% 5%;
}

.timeline-card.Section1 img{
  filter: invert(88%) sepia(88%) saturate(6586%) hue-rotate(290deg) brightness(101%) contrast(100%);
}

.timeline-card.Section10{ border: 2px solid #823a3a; }
.timeline-card.Section20{ border: 2px solid #305978; }
.timeline-card.Section30{ border: 2px solid #755300; }
.timeline-card.Section40{ border: 2px solid #1d635d; }
.timeline-card.Section50{ border: 2px solid #5c416a; }
.timeline-card.Section60{ border: 2px solid #32633a; }

.timeline-card.Section10 .timespan{ color: #823a3a; }
.timeline-card.Section20 .timespan{ color: #305978; }
.timeline-card.Section30 .timespan{ color: #755300; }
.timeline-card.Section40 .timespan{ color: #1d635d; }
.timeline-card.Section50 .timespan{ color: #5c416a; }
.timeline-card.Section60 .timespan{ color: #32633a; }

.timeline-card.Section10 .wrapIcon div, #timelineAxis.Section10{ background-color: #823a3a; }
.timeline-card.Section20 .wrapIcon div, #timelineAxis.Section20{ background-color: #305978; }
.timeline-card.Section30 .wrapIcon div, #timelineAxis.Section30{ background-color: #755300; }
.timeline-card.Section40 .wrapIcon div, #timelineAxis.Section40{ background-color: #1d635d; }
.timeline-card.Section50 .wrapIcon div, #timelineAxis.Section50{ background-color: #5c416a; }
.timeline-card.Section60 .wrapIcon div, #timelineAxis.Section60{ background-color: #32633a; }

#timelineAxis{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 34px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#timeline{
  margin: 200px 0px 400px 0px;
  padding: 0;
  height: 1000px;
  width: 100%;
}

.toolbar{
  width: 65px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

.toolbar mat-icon{
  font-size: 35px;
  margin: 5px 0 0 -11px;
  color:#ffffff;
}

.toolbar button{
  float:right;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  background-color: #494949;
}

.wappenbutton{ 
  background: url("../../../assets/icons/WappenIcons.svg") 54px 48px;
  background-size: 450px;
  margin: 90px 20px 0px 0px;
}
 
.locationbutton{
  margin: 0;
  border-radius: 25px;
  position: fixed;
  right: 0;
  bottom: 110px;
  margin: 20px 20px 0px 0px;
}

.toolbar button.disabled{
  background-color: #aaaaaa;
}

.timelineSectionNav{
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
}

.timelineSectionNav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 80px;
  border-top: 15px solid #494949;
  background: #494949;
}

.timelineSectionNav ul li{
  background: #fff;
  float: left;
  width: 16%; 
  height: 100%;
}

.timelineSectionNav ul li.selected{
  background: #494949;
}

.timelineSectionNav .Section20,
.timelineSectionNav .Section30,
.timelineSectionNav .Section40,
.timelineSectionNav .Section50,
.timelineSectionNav .Section60 {
  margin-left: 0.8%;
}

.timelineSectionNav ul li button{
  display: block;
  margin: 5px auto;
  width: 100%; 
  height: 70px;
  border: none;
  outline: none;
  background: #fff;
}

.timelineSectionNav ul li button img{
  width: 45px; 
  height: 45px;
}

@media (max-width: 320px) {
  .timeline-card h1{
    font-size: 100%;
  }
}

.selected_Section10 img, .title.Section10 img{
  filter: invert(30%) sepia(40%) saturate(842%) hue-rotate(314deg) brightness(81%) contrast(88%);
}

.selected_Section20 img, .title.Section20 img{
  filter: invert(34%) sepia(18%) saturate(1288%) hue-rotate(163deg) brightness(88%) contrast(93%);
}

.selected_Section30 img, .title.Section30 img{
  filter: invert(34%) sepia(7%) saturate(7087%) hue-rotate(11deg) brightness(94%) contrast(101%);
}

.selected_Section40 img, .title.Section40 img{
  filter: invert(29%) sepia(81%) saturate(323%) hue-rotate(126deg) brightness(97%) contrast(97%);
}

.selected_Section50 img, .title.Section50 img{
  filter: invert(29%) sepia(18%) saturate(1061%) hue-rotate(235deg) brightness(91%) contrast(93%);
}

.selected_Section60 img, .title.Section60 img{
  filter: invert(31%) sepia(25%) saturate(876%) hue-rotate(78deg) brightness(95%) contrast(88%);
}

.timelineSectionNav.selected_Section10 li.Section10 img,
.timelineSectionNav.selected_Section20 li.Section20 img,
.timelineSectionNav.selected_Section30 li.Section30 img,
.timelineSectionNav.selected_Section40 li.Section40 img,
.timelineSectionNav.selected_Section50 li.Section50 img,
.timelineSectionNav.selected_Section60 li.Section60 img{
  filter: invert(99%) sepia(7%) saturate(90%) hue-rotate(226deg) brightness(120%) contrast(100%);
}

.timelineSectionNav.selected_Section10 ul li.Section10, .timelineSectionNav.selected_Section10 ul li.Section10 button,
.timelineSectionNav.selected_Section20 ul li.Section20, .timelineSectionNav.selected_Section20 ul li.Section20 button,
.timelineSectionNav.selected_Section30 ul li.Section30, .timelineSectionNav.selected_Section30 ul li.Section30 button,
.timelineSectionNav.selected_Section40 ul li.Section40, .timelineSectionNav.selected_Section40 ul li.Section40 button,
.timelineSectionNav.selected_Section50 ul li.Section50, .timelineSectionNav.selected_Section50 ul li.Section50 button,
.timelineSectionNav.selected_Section60 ul li.Section60, .timelineSectionNav.selected_Section60 ul li.Section60 button{
  background: #494949;
}

.webdevtools {
  margin-bottom: 80px;
  margin-left: 50px;
}

.webdevtools button {
  margin-left: 10px;
}

.hiddenbutton{
  display: none;
}