<div id="woodcut" class="Sec{{currentSection}}"></div>
<div class="toolbar">
    <button class="wappenbutton" (click)="userCoA()"></button>
    <button [className]="closestExhibit ? 'enabled locationbutton' : 'disabled locationbutton'" (click)="goToClosestExhibit()"></button>
</div>

<div id="timelineAxis" class="Sec{{currentSection}}"></div>
<div id="timeline"></div>

<ng-container  *ngFor="let loc of currentEntrance" >
  <div *ngIf="loc.parentId == currentSection" [className]="isClose(loc.id) ? 'near card title lck'+loc.locked+' Sec'+loc.parentId : 'card title lck'+loc.locked+' Sec'+loc.parentId" 
  id="exh_{{loc.id}}" (click)="requestRegisterLocation(loc.id, loc.parentId, loc.locked)">
    <img src="./assets/icons/Timeline/{{getSectionIcon(currentSection)}}.png" />
    <h1> {{loc.description}} {{loc.id}} </h1>
  </div>
</ng-container>

<ng-container  *ngFor="let loc of timelineLocations" >
  <div *ngIf="loc.locationTypeId != 5" 
  [className]="isClose(loc.id) ? 'near card exhibit lck'+loc.locked+' type'+loc.locationTypeId+' Sec'+loc.parentId+' '+currentSection : 'card exhibit lck'+loc.locked+' type'+loc.locationTypeId+' Sec'+loc.parentId+' '+currentSection" 
  id="exh_{{loc.id}}" (click)="requestRegisterLocation(loc.id, loc.parentId, loc.locked)">
    <div class="wrapIcon">
      <div class="coaIcon" *ngIf="loc.unlockCoa"></div>
      <div class="actIcon" *ngIf="loc.locationTypeId == 3 || loc.locationTypeId == 6"></div>
    </div>
    <p class="timespan">{{loc.startDate}} - {{loc.endDate}}</p>
    <h2> {{loc.description}} {{loc.id}} </h2>
  </div>
</ng-container>

<div class="timelineSectionNav selected_Section{{currentSection}}">
    <ul>
        <li *ngFor="let section of sectionList" class="Sec{{section.code}}">
            <button (click)="displaySection(section.code, false)">
                <img src="./assets/icons/Timeline/{{section.icon}}.png" />
            </button>
        </li>
    </ul>
</div> 

<div class="webdevtools" *ngIf="isWeb">
  <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationTableAt()">1000/10</button>
  <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationTableAtBehavior()">301/30</button>
  <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationPassive()">102/10</button>
  <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationTableOn()">2002/20</button>
  <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationQuiz()">Quiz</button>
  <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterNotifyLocation()">502/50</button>
  <button mat-raised-button class="control-button" color="secondary" (click)="checkWifiForWeb()">Check Wifi SSID</button>
</div>

<button id="ghostScrollbutton" class="hiddenbutton" (click)="scroll()">Ghost</button>
