<div class="wrapper">
  <mat-card class="registerRealForm">
    <h1>Register as real user</h1>
    <h2>You can fully register now</h2>

    <form name="registerRealForm" [formGroup]="registerRealUserForm">
      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field">
          <input matInput placeholder="Username" required [(ngModel)]="name" [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessage('name')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field">
          <input matInput placeholder="Email" [(ngModel)]="email" required [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field">
          <input matInput placeholder="Password" [(ngModel)]="password" required [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field">
          <input matInput placeholder="Password Confirmation" [(ngModel)]="confirmPassword" required [formControl]="confirmPasswordFormControl">
          <mat-error *ngIf="confirmPasswordFormControl.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <br />
      <button mat-raised-button [disabled]="registerRealUserForm.invalid" color="primary" (click)="registerAsRealuser()">Confirm</button>
    </form>
  </mat-card>
</div>
