<div class="toolbar">
  <button id="closebutton" class="closebutton" (click)="closeWindow()"><img src="assets/icons/closewhite.svg" alt="exit"></button>
</div> 

<div class="wrapper">
  <h2>{{ 'register.title' | translate }}</h2>
  <div class="loginFormWrapper">
    <form name="registerRealForm" [formGroup]="registerRealUserForm">
      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.username' | translate }}" required [(ngModel)]="registerName" [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessage('name')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.email' | translate }}" [(ngModel)]="registerEmail" required [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.password' | translate }}" type="password" [(ngModel)]="registerPassword" required [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.passwordConfirm' | translate }}" type="password" [(ngModel)]="confirmPassword_" required [formControl]="confirmPasswordFormControl">
          <mat-error *ngIf="confirmPasswordFormControl.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="error"><mat-error *ngIf="wrongCred">{{getExistsErrorMessage()}}</mat-error></div>
      <button class="btnLogin" [disabled]="registerRealUserForm.invalid" (click)="registerAsRealuser()">{{ 'register.btnSave' | translate }}</button>
    </form>
  </div>
</div>
