@font-face {
  font-family: 'OpenSans';
  src: url("../../../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Vollkorn';
  src: url("../../../assets/fonts/Vollkorn/Vollkorn-Bold.ttf");
}


.wrapper h2{
    font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
    margin: 20px;
    text-align: center;
    font-size: 1em;
}

.wrapper {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 90px;
}

.loginFormWrapper{
  width: 70%;
  margin: 20px auto;
}

.btnLogin{
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
  display: block;
  margin: 30px auto 0 auto;
  background: #494949;
  color: #ffffff;
  min-width: 180px;
  padding: 0.8em;
}

input{
  font-family: 'Vollkorn', Times, serif;
  margin-bottom: 6px;
  font-size: 1.3em;
  text-align: center; 
}

.error{
  font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
  text-align: center;
  height: 2em;
  font-size: 0.9em;
}

@media (max-width: 350px) {
  input{
    font-size: 0.9em;
  }
}

@media (max-height: 650px) {
  .wrapper h2{
    font-size: 0.8em;
    margin: 0;
  }

  input{
    font-size: 0.9em;
  }

  .btnLogin{
    margin: 0px auto 0 auto;
    font-size: 0.8em;
  }

  .error{
    height: auto;
    font-size: 0.8em;
  }
}
