<div class="toolbar">
  <button class="closebutton" (click)="closeWindow()"><img src="assets/icons/closewhite.svg"></button>
</div> 

<div class="wrapper">
  <div *ngIf="languageService.getCurrentLanguageAsString() === 'de'" class="infoWrapper">
    <h1>Des Kaisers neuer Heiliger</h1>
    
    <p>Die Ausstellung "Des Kaisers neuer Heiliger. Maximilian I. und Markgraf Leopold III. in Zeiten des Medienwandels" ist von 9. März bis 17. 
      November 2019 im niederösterreichischen Stift Klosterneuburg (Stiftsplatz 1, 3400 Klosterneuburg) zu sehen. 
      Auf der Website <a src="https://www.stift-klosterneuburg.at/">www.stift-klosterneuburg.at</a> erhalten Interessierte mehr Informationen zur Ausstellung sowie zu Öffnungszeiten, Führungen und Anreise.</p>
      
    <p>Mit Hilfe einfallsreicher interaktiver Stationen erzählt die Ausstellung "Des Kaisers neuer Heiliger", 
      welche Rolle Klosterneuburg zur Zeit Maximilians spielte, 
      wie und warum der heiliggesprochene Babenberger-Markgraf und Stiftsgründer Leopold III. von Maximilian I. verehrt wurde, 
      warum Stammbäume und Familiengeschichten bedeutsam waren, wie der Buchdruck langsam als neues Medium aufkam und wie Maximilian nach seinem Tod erinnert werden wollte. 
      Drei frei wählbare Erzählstränge innerhalb der App bieten unterschiedliche Sichtweisen auf das historische Geschehen.</p>
      
    <h1>Das Forschungsprojekt MEETeUX</h1>

    <p>Die interaktiven Elemente dieser Ausstellung wurden im Rahmen des Forschungsprojektes MEETeUX (<a src="http://meeteux.fhstp.ac.at">http://meeteux.fhstp.ac.at</a>) von einem Team des 
      Instituts für Creative \ Media / Technologies der Fachhochschule St. Pölten entwickelt. MEETeUX (Multi-Device Ecologies Towards Elaborate User Experience) 
      beschäftigt sich mit Fragestellungen in den Bereichen Interaction Design und User Experience Design für den integrierten Einsatz von medientechnischen Endgeräten 
      in Multi-Device Ecologies.<br/>
      Im Rahmen der Ausstellung können wir durch Ihre Beteiligung umfangreiche Evaluierungen im Bereich der User Experience durchführen.</p>

    <p>Das Projekt wird durch die Österreichischen Forschungsförderungsgesellschaft FFG im Rahmen der Programmlinie COIN Aufbau gefördert.</p>

      <img src="assets/img/logoFH.png">

      <img src="assets/img/logoMeeteux.png">
  </div>

  <div *ngIf="languageService.getCurrentLanguageAsString() === 'en'" class="infoWrapper">
    <h1>The Emperor's New Saint</h1>
  
    <p>The exhibition "The Emperor’s New Saint. Maximilian I and Margrave Leopold III in Times of Media Change" can be visited from the 9th of March 
      to the 17th of November, 2019 at Klosterneuburg Monastery (Stiftsplatz 1, 3400 Klosterneuburg, Austria). 
      You can find further information about the exhibition, opening hours and guided tours on the website <a src="https://www.stift-klosterneuburg.at/">www.stift-klosterneuburg.at</a>.</p>
      
    <p>By using interactive stations, the exhibition “The Emperor’s New Saint” tells the story of the importance of Klosterneuburg Monastery during the reign of Maximilian I. 
      How and why did the monarch worship the canonised Babenberg-Margrave and founder of Klosterneuburg monastery, Leopold III? 
      Why were family trees and genealogies important in the 15th century? What changed when print was invented and how did Emperor Maximilian I want to be remembered? 
      Three eligible narratives give insights into different aspects of the same story.</p>
      
    <h1>The Research Project MEETeUX</h1>

    <p>All interactive elements of this exhibition were developed in the framework of the research project MEETeUX (<a src="http://meeteux.fhstp.ac.at">http://meeteux.fhstp.ac.at</a>) 
      by a team of the Institute of Creative \ Media / Technologies at St. Pölten University of Applied Sciences. 
      MEETeUX (Multi-Device Ecologies Towards Elaborate User Experience) deals with issues in the areas of interaction design and user experience design 
      and aims at an integrated use of media technology devices such as mobile devices, multi-touch tabletops or large surfaces in multi-device ecologies.<br>
      Your participation allows us to carry out extensive evaluations in the field of user experience as part of the exhibition.</p>
        
    <p>The project is funded by the Austrian Research Promotion Agency (FFG) within the funding line COIN Aufbau (capacity building).</p>

      <img src="assets/img/logoFH.png">

      <img src="assets/img/logoMeeteux.png">
  </div>
</div>