<div class="wrapper">
  <h2>{{ 'register.title' | translate }}</h2>
  <div class="loginFormWrapper">
    <form name="registerForm" [formGroup]="signupForm">
      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.username' | translate }}" required [(ngModel)]="name" [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessage('name')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.email' | translate }}" [(ngModel)]="email" required [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.password' | translate }}" [(ngModel)]="password" required [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'register.passwordConfirm' | translate }}" [(ngModel)]="confirmPassword" required [formControl]="confirmPasswordFormControl">
          <mat-error *ngIf="confirmPasswordFormControl.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="error"><mat-error *ngIf="wrongCred">{{getExistsErrorMessage()}}</mat-error></div>

      <button class="btnLogin" [disabled]="signupForm.invalid" (click)="requestDeviceInfos(false)">{{ 'register.btnSave' | translate }}</button>
    </form>
  </div>
</div>
