<div class="toolbar">
  <button [className]="(changeUsernameEnable || changeEmailEnable || changePasswordEnable)? 'disabled closebutton' : 'closebutton'" (click)="closeWindow()"><img src="assets/icons/closewhite.svg"></button>
</div> 
<div class="wrapper">
  <h1>{{ 'changeCredentials.title' | translate }}</h1>

  <div class="credentialsForm loginFormWrapper">
    <form name="credentialsForm" [formGroup]="changeForm">
      
      <div class="form-preview" *ngIf="!changeUsernameEnable && !changeEmailEnable && !changePasswordEnable && !changeLanguageEnable">
          <h2>{{ 'changeCredentials.username' | translate }}:</h2>
          <p>{{changeName}}</p>
          <button class="btnPreview" (click)="changeUsernamePreview()">{{ 'changeCredentials.btnUsername' | translate }}</button>
      </div>
      <div [className]="changeUsernameEnable ? 'fix-mat-form-field' : 'hide fix-mat-form-field'">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="Username" value = "{{changeName}}" [(ngModel)]="name" [formControl]="nameFormControl">
          <!--<mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessage('name')}}</mat-error>-->
        </mat-form-field>
      </div>

      <div class="form-preview" *ngIf="!changeUsernameEnable && !changeEmailEnable && !changePasswordEnable && !changeLanguageEnable">
          <h2>{{ 'changeCredentials.email' | translate }}:</h2>
          <p>{{changeEmail}}</p>
          <button class="btnPreview" (click)="changeEmailPreview()">{{ 'changeCredentials.btnEmail' | translate }}</button>
      </div>
      <div [className]="changeEmailEnable ? 'fix-mat-form-field' : 'hide fix-mat-form-field'">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="Email" value = "{{changeEmail}}" [(ngModel)]="email" [formControl]="emailFormControl">
          <!--<mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('email')}}</mat-error>-->
        </mat-form-field>
      </div>

      <div class="form-preview" *ngIf="!changeUsernameEnable && !changeEmailEnable && !changePasswordEnable && !changeLanguageEnable">
          <h2>{{ 'changeCredentials.password' | translate }}:</h2>
          <p>******</p>
          <button class="btnPreview" (click)="changePasswordPreview()">{{ 'changeCredentials.btnPassword' | translate }}</button>
      </div>
      <div [className]="changePasswordEnable ? '' : 'hide'">
        <div class="fix-mat-form-field">
          <mat-form-field class="full-with-field" appearance="outline">
            <input matInput placeholder="{{ 'changeCredentials.passwordOld' | translate }}" type="password" [(ngModel)]="password" [formControl]="passwordFormControl">
            <!--<mat-error *ngIf="passwordFormControl.invalid">{{getRequiredErrorMessage('password')}}</mat-error>-->
          </mat-form-field>
        </div>

        <div class="fix-mat-form-field">
          <mat-form-field class="full-with-field" appearance="outline">
            <input matInput placeholder="{{ 'changeCredentials.passwordNew' | translate }}" type="password" [(ngModel)]="newPassword" [formControl]="newPasswordFormControl">
            <mat-error *ngIf="newPasswordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="fix-mat-form-field">
          <mat-form-field class="full-with-field" appearance="outline">
            <input matInput placeholder="{{ 'changeCredentials.passwordConfirm' | translate }}" type="password" [(ngModel)]="newConfirmPassword" [formControl]="newConfirmPasswordFormControl">
            <mat-error *ngIf="newConfirmPasswordFormControl.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-preview" *ngIf="!changeUsernameEnable && !changeEmailEnable && !changePasswordEnable && !changeLanguageEnable">
          <h2>{{ 'changeCredentials.language' | translate }}:</h2>
          <p *ngIf="languageService.getCurrentLanguageAsString() === 'en'">English</p>
          <p *ngIf="languageService.getCurrentLanguageAsString() === 'de'">Deutsch</p>
          <button class="btnPreview" *ngIf="languageService.getCurrentLanguageAsString() === 'en'" (click)="useLanguage('de')">{{ 'changeCredentials.btnLanguage' | translate }}</button>
          <button class="btnPreview" *ngIf="languageService.getCurrentLanguageAsString() === 'de'" (click)="useLanguage('en')">{{ 'changeCredentials.btnLanguage' | translate }}</button>
     </div>

      <div class="error"><mat-error *ngIf="wrongCredChange">{{getCredChangeErrorMessage()}}</mat-error></div> 
      <div class="error"><mat-error *ngIf="existingCred">{{getCredChangeExistingCred()}}</mat-error></div> 

      <button class="btnSave" [disabled]="changeForm.invalid" (click)="submitCredentialsChange()" *ngIf="changeUsernameEnable || changeEmailEnable || changePasswordEnable">{{ 'changeCredentials.btnSave' | translate }}</button>
      <button class="btnCancel" (click)="cancelCredentialsChange()" *ngIf="changeUsernameEnable || changeEmailEnable || changePasswordEnable">{{ 'changeCredentials.btnCancel' | translate }}</button>
    </form>
    <button class="btnDelete" (click)="deleteAccountOfUser()" *ngIf="!changeUsernameEnable && !changeEmailEnable && !changePasswordEnable && !changeLanguageEnable">{{ 'changeCredentials.btnDelete' | translate }}</button>
  </div>
</div>
