<div class="wrapper">
  <mat-card class="credentialsForm">
    <h1>Change Credentials</h1>
    <h2>You can change your credentials</h2>

    <form name="credentialsForm" [formGroup]="changeForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" [(ngModel)]="name" [formControl]="nameFormControl">
        <!--<mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessage('name')}}</mat-error>-->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl">
        <!--<mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('email')}}</mat-error>-->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Old Password" [(ngModel)]="password" [formControl]="passwordFormControl">
        <!--<mat-error *ngIf="passwordFormControl.invalid">{{getRequiredErrorMessage('password')}}</mat-error>-->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="New Password" [(ngModel)]="newPassword" [formControl]="newPasswordFormControl">
        <mat-error *ngIf="newPasswordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm New Password" [(ngModel)]="newConfirmPassword" [formControl]="newConfirmPasswordFormControl">
        <mat-error *ngIf="newConfirmPasswordFormControl.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button [disabled]="changeForm.invalid" color="primary" (click)="submitCredentialsChange()">Change Credentials</button>
    </form>

    <br />
    <button mat-raised-button color="primary" (click)="deleteAccountOfUser()">Delete your Account</button>
  </mat-card>
</div>
