@font-face {
  font-family: 'OpenSans';
  src: url("../../../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Vollkorn';
  src: url("../../../assets/fonts/Vollkorn/Vollkorn-Bold.ttf");
}

.wrapper h1{
  font-family: 'Vollkorn', Times, serif;
    margin: 20px;
    text-align: center;
    font-size: 1.6em;
}

.wrapper h2, p{
  font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
  margin: 0px;
  text-align: center;
  font-size: 1.2em;
}

.wrapper h2{
  margin-top: 2.5em;
}

.wrapper {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 90px;
}

.loginFormWrapper{
  width: 70%;
  margin: 20px auto;
}

.btnPreview{
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
  display: block;
  margin: 1em auto 10px auto;
  background: #494949;
  color: #ffffff;
  min-width: 180px;
  padding: 0.8em;
}

.btnDelete,
.btnCancel,
.btnSave{
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
  display: block;
  margin: 10px auto;
  background: #494949;
  color: #ffffff;
  min-width: 180px;
  padding: 0.8em;
}

.btnCancel{
  border: 1px solid #494949;
  background: #ffffff;
  color: #494949;
}

.btnDelete{
  border: 1px solid #93272c;
  background: #ffffff;
  color: #93272c;
}

.hide{
  display: none;
}
input{
  font-family: 'Vollkorn', Times, serif;
  margin-bottom: 6px;
  font-size: 1.3em;
  text-align: center; 
}

.error{
  font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
  text-align: center;
  height: 2em;
  font-size: 0.9em;
}

.toolbar button{
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    margin: 20px 20px 0px 20px; 
    background: #ffffff;
}

.toolbar .closebutton{
    float: right; 
    background: #494949;
    color:#ffffff;
}

.toolbar .closebutton mat-icon{
    margin: 4px 0 0 -15px;
    font-size: 40px;
}

.toolbar .closebutton.disabled{
  float: right; 
  background: #cccccc;
  color:#ffffff;
}


@media (max-height: 650px) {
  .wrapper h2{
    font-size: 0.8em;
    margin: 0;
  }

  input{
    font-size: 0.9em;
  }

  .btnLogin{
    margin: 0px auto 0 auto;
    font-size: 0.8em;
  }

  .error{
    height: auto;
    font-size: 0.8em;
  }

  .btnPreview{
    margin: 0.8em auto 50px auto;
  }
}

@media (min-height: 730px) {
  .toolbar button{
      margin: 35px 20px 0px 20px; 
  }
}
