<div class="toolbar">
  <button class="closebutton" (click)="closeWindow()"><img src="assets/icons/closewhite.svg"></button>
</div> 

<div class="wrapper">
  <div *ngIf="languageService.getCurrentLanguageAsString() === 'de'" class="infoWrapper">
      <h1>Wifi-Settings</h1>
    
      <p>Die Inhalte in dieser App können nur in der Ausstellung 'Des Kaisers neuer Heiliger' freigeschalten werden.</p> 
      <p>Sofern Du nicht schon im Stift Klosterneuburg bist, mach Dich auf den Weg täglich vom 9. März bis 17. November.</p>
      <p>Um alle Funktionen dieser App nutzen zu können, wechsle bitte in das Wifi: <br/><br/><b>DesKaisersNeuerHeiliger</b> <br/>Passwort 'maximilian'.</p>
  </div>

  <div *ngIf="languageService.getCurrentLanguageAsString() === 'en'" class="infoWrapper">
    <h1>Wifi settings</h1>
    
    <p>The contents in this app can only be unlocked in the exhibition 'The Emperor's New Saint'.</p> 
    <p>Unless you are already in Stift Klosterneuburg, get on the road from 9th of March to 17th of November.</p>
    <p>In order to use all functions of this app, please switch to the wifi: <br/><br/><b>DesKaisersNeuerHeiliger</b> <br/>Password 'maximilian'.</p>
  </div>
</div>