<h1>
  Willkommen bei {{locationName}}
</h1>


<div *ngIf="locationStatusFree">
  <div *ngIf="locationType == 3">
    <h3>Table ist frei</h3>
    <button *ngIf="joinGame" mat-raised-button color="primary" (click)="startOnTableSearch()">Mitspielen</button>
    <p *ngIf="!joinGame">Bitte lege Dein Handy auf ein Beacon am Table</p>
    <h4 *ngIf="locationSocketStatus === 'OCCUPIED'">Dieses Beacon ist schon belegt!</h4>

    <div class="webdevtools" *ngIf="isWeb && !joinGame" style="margin-top:20px">
      <button mat-raised-button color="primary" (click)="redirectToOnTable()">Register Location TableOn</button>
    </div>
  </div>
  <div *ngIf="locationType == 6">
    <h3>Table ist frei</h3>
    <button *ngIf="joinGame" mat-raised-button color="primary" (click)="redirectToOnTableBehavior()">Mitspielen</button>
  </div>
</div>

<div *ngIf="locationStatusOccupied">
  <h3>Der Table ist gerade nicht frei, probieren Sie es später erneut!</h3>
</div>

<button *ngIf="location.liked; else notLiked" id="unlike" mat-raised-button color="warn" (click)="registerLocationUnlike()">
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>&nbsp;Unlike
</button>

<ng-template #notLiked>
  <button id="like" mat-stroked-button color="warn" (click)="registerLocationLike()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>&nbsp;Like
  </button>
</ng-template>
