<div class="wrapper">
  <!--<h2>{{ 'start.welcomeMessage' | translate }}</h2>
  <h1>{{ 'start.name' | translate }}</h1>-->
  <div class="btnWrapper">
    <button class="btnLogin" (click)="forwardToLogin()">{{ 'start.loginButton' | translate }}</button>
    <button class="btnLoginGuest" (click)="loginAsGuest()">{{ 'start.registerGuestButton' | translate }}</button>
    <button class="btnRegister" (click)="forwardToRegister()">{{ 'start.registerButton' | translate }}</button>
    <button class="btnLang" (click)="forwardToLanguage()"><img src="./assets/img/deen.png" alt="language" /></button>
  </div>
</div>
