<div class="toolbar">
  <button id="closebutton" class="closebutton" (click)="closeWindow()"><img src="assets/icons/closewhite.svg"></button>
</div> 

<div class="wrapper">
  <div class="infoWrapper">
    <h1>Change Visualization</h1>

    <mat-form-field>
      <mat-label>Select Timeline</mat-label>
      <mat-select [(value)]="selectedTimeline" (selectionChange)="timelineChanged()">
        <mat-option *ngFor="let timeline of timelines" [value]="timeline.value">
          {{timeline.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <p>You selected: {{selectedTimeline}}</p>
  </div>
  
</div>