<div class="btnBack"><img src="assets/icons/Timeline/{{getSectionIcon(location.parentId)}}.png" /></div>
<div class="wrapper Sec_{{location.parentId}}">
  <div class="wrapperContent">
      <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'en'">{{location.titleENG}}</h1>
      <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'de'">{{location.titleGER}}</h1>

    <div *ngFor="let cont of location.contents">
      <p *ngIf="cont.contentTypeId == 1">{{cont.content}}</p>
      <img *ngIf="cont.contentTypeId == 2" src="{{cont.content}}" />
    </div>

    <p class="note">{{ 'tableAt.interactiveExhibitMsg' | translate }}</p>
  </div> 
  
  <div class="btnJoin">
    <div class="ico"></div>
    <div class="msg">
      <div *ngIf="locationStatusFree">
        <div *ngIf="locationType === 3">
          <p>{{ 'tableAt.tableFreeText' | translate }}</p>
          <button *ngIf="joinGame && correctWifi == 'true'" (click)="startOnTableSearch()">A{{ 'tableAt.tableJoinButton' | translate }}</button>
          <p *ngIf="!joinGame">{{ 'tableAt.beaconPutText' | translate }}</p>
          <p *ngIf="locationSocketStatus === 'OCCUPIED'">{{ 'tableAt.beaconOccupiedText' | translate }}</p>
          

          <div class="webdevtools" *ngIf="isWeb && !joinGame" style="margin-top:20px">
            <button (click)="redirectToOnTable()">Register Location TableOn</button>
          </div>
        </div>
        <div *ngIf="locationType == 6">
          <button *ngIf="joinGame && correctWifi == 'true'" ng-disabled="isJoinButtonUnlocked" (click)="redirectToOnTableBehavior()">{{ 'tableAt.tableJoinButton' | translate }}</button>
        </div>

        <p *ngIf="correctWifi == 'false'">{{ 'tableAt.notAtWifi' | translate }}</p>
      </div>
      <div *ngIf="locationStatusOccupied"><p>{{ 'tableAt.tableOccupiedText' | translate }}</p></div>
      <div *ngIf="locationStatusOffline"><p>{{ 'tableAt.tableOfflineText' | translate }}</p></div>
    </div>
  </div>
  <div class="btnJoinDisabled" *ngIf="locationStatusOffline || locationStatusOccupied || !joinGame || locationSocketStatus === 'OCCUPIED'"></div>
</div>
