<a mat-button id="redirectTimeline" (click)="redirectToTimeline()" *ngIf="router.url === '/passive' || router.url === '/tableat' || router.url ==='/changecred' || router.url === '/registerRealUser'">{{ 'app.backButton' | translate }}</a>
<a mat-button id="redirectStart" (click)="redirectToStart()" *ngIf="router.url === '/register' || router.url === '/login' || router.url === '/testscroll' || router.url === '/changeLanguageStart'">{{ 'app.backButton' | translate }}</a>

<div class="apptoolbar">
  <button class="menubutton" (click)="openMenu()"  *ngIf="router.url === '/passive' || router.url === '/tableat' || router.url === '/tableon' || router.url === '/mainview' || router.url ==='/changecred'">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<div class="dismissMenuDiv" *ngIf="menuOpen" (click)="dismissMenu()"></div>
<div class="menuDiv" *ngIf="menuOpen">
  <ul>
    <li *ngIf="guest == 0" (click)="userCredentials()">PROFILE SETTINGS</li>
    <li *ngIf="guest == 1" (click)="registerRealuserRouting()">SIGN UP</li>
    <li>ABOUT</li>
    <li>HELP</li>
    <li>LEGAL DETAILS</li>
    <li *ngIf="languageService.getCurrentLanguageAsString() === 'en'" (click)="useLanguage('de')">GERMAN</li>
    <li *ngIf="languageService.getCurrentLanguageAsString() === 'de'" (click)="useLanguage('en')">ENGLISCH</li>
    <li (click)="logoutUser()">LOGOUT</li>
  </ul>
</div>

<router-outlet></router-outlet>

<button id="ghostButton" class="hiddenbutton" (click)="openDialog()">Ghost</button>
<button id="ghostButtonWifi" class="hiddenbutton" (click)="openNativeSetting()">GhostSetting</button>
<button id="ghostButtonBluetooth" class="hiddenbutton" (click)="openNativeSetting()">GhostSetting</button>
<button id="logout" class="hiddenbutton" (click)="logoutRouting()">GhostLogout</button>
