<mat-toolbar id="header" color="primary">
  <a mat-button id="redirectTimeline" (click)="redirectToTimeline()" *ngIf="router.url === '/passive' || router.url === '/tableat' || router.url ==='/changecred'">{{ 'app.backButton' | translate }}</a>
  <a mat-button id="redirectStart" (click)="redirectToStart()" *ngIf="router.url === '/register' || router.url === '/login' || router.url === '/testscroll'">{{ 'app.backButton' | translate }}</a>
  <span class="example-fill-remaining-space"></span>
  <span>MEETeUX</span>

  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="router.url === '/passive' || router.url === '/tableat' || router.url === '/tableon' || router.url === '/mainview' || router.url ==='/changecred'">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before">
    <button mat-menu-item (click)="logoutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item (click)="userCredentials()">
      <mat-icon>settings</mat-icon>
      <span>Change User Credentials</span>
    </button>
    <button mat-menu-item *ngIf="languageService.getCurrentLanguageAsString() === 'en'" (click)="useLanguage('de')">
      <mat-icon>language</mat-icon>
      <span>German</span>
    </button>
    <button mat-menu-item *ngIf="languageService.getCurrentLanguageAsString() === 'de'" (click)="useLanguage('en')">
      <mat-icon>language</mat-icon>
      <span>Englisch</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>

<button id="ghostButton" class="hiddenbutton" (click)="openDialog()">Ghost</button>
<button id="ghostButtonWifi" class="hiddenbutton" (click)="openNativeSetting()">GhostSetting</button>
<button id="ghostButtonBluetooth" class="hiddenbutton" (click)="openNativeSetting()">GhostSetting</button>
<button id="logout" class="hiddenbutton" (click)="logoutRouting()">GhostLogout</button>
