<mat-toolbar id="header" color="primary">
  <span>MEETeUX</span>

  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before">
    <button mat-menu-item (click)="logoutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item (click)="showUnityView()">
      <mat-icon>whatshot</mat-icon>
      <span>Unity</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>

<button id="ghostButton" class="hiddenbutton" (click)="openDialog()">Ghost</button>
