<img class="btnCancel" (tap)="laterDialog()" src="assets/icons/close.svg" alt="close">
<h1 matDialogTitle>{{ 'questionnaireDialog.title' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'questionnaireDialog.text' | translate }}</p>
  <!--<br/><p>{{ 'questionnaireDialog.text2' | translate }}</p>-->
</div>
<mat-dialog-actions align="end">
  <button class="btnDone" (tap)="doneDialog()">{{ 'questionnaireDialog.doneOption' | translate }}</button>
  <button class="btnLater" (tap)="laterDialog()">{{ 'questionnaireDialog.laterOption' | translate }}</button>
  <button class="btnConfirm" (tap)="confirmDialog()">{{ 'questionnaireDialog.yesOption' | translate }}</button>
</mat-dialog-actions>