<div class="btnBack"><img src="assets/icons/Timeline/{{getSectionIcon(location.parentId)}}.png" /></div>
<div class="wrapper Sec_{{location.parentId}}">
  <div class="wrapperContent {{currentSection}}">
    <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'en'">{{location.titleENG}}</h1>
    <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'de'">{{location.titleGER}}</h1>

    <div *ngFor="let cont of location.contents">
      <p *ngIf="cont.contentTypeId == 1" class="cont{{cont.storyTellerId}}">{{cont.content}}</p>
      <img *ngIf="cont.contentTypeId == 2" src="{{cont.content}}" />
    </div>    

    <div id="timeline"></div>

    <figure class="contentFig" *ngIf="location.id == 1000 || location.id == 2000 || location.id == 2001 || location.id == 2004 || location.id == 3000 || location.id == 4000 || location.id == 4004 || location.id == 5000 || location.id == 5001">
      <img *ngIf="languageService.getCurrentLanguageAsString() === 'de'" alt="{{location.titleGER}}" src="assets/img/content/pic{{location.id}}.png" />
      <img *ngIf="languageService.getCurrentLanguageAsString() === 'en'" alt="{{location.titleENG}}" src="assets/img/content/pic{{location.id}}.png" />
    </figure>
  </div>

  <div *ngIf="location.id != 6000 && location.id != 5001" class="timelineSectionNav selected_Section{{currentSection}}">
      <ul>
        <li class="sunthaym"><button (click)="displayVersion('sunthaym')"><img src="assets/icons/Sunthaym.png" /><p>Ladislaus<br/>Sunthaym</p></button></li>  
        <li class="maximilian"><button (click)="displayVersion('maximilian')"><img src="assets/icons/Maximilian.png" /><p>{{ 'passiveExhibit.emperor' | translate }}<br/>Maximilian</p></button></li>
        <li class="till"><button (click)="displayVersion('till')"><img src="assets/icons/Till.png" /><p>Till<br/>Eulenspiegel</p></button></li>          
      </ul> 
  </div> 

    <div *ngIf="location.id == 6000 || location.id == 5001" class="btnJoin">
        <div class="ico"></div>
        <div class="msg"><button  (click)="userCoA()">{{ 'passiveExhibit.buttonCoa' | translate }}</button></div>
    </div>
</div>


