<div class="btnBack"><img src="./assets/icons/Timeline/{{getSectionIcon(location.parentId)}}.png" /></div>
<div class="wrapper Sec_{{location.parentId}}">
  <div class="wrapperContent">
    <h1>{{location.description}}</h1>

    <div *ngFor="let cont of location.contents">
      <p *ngIf="cont.contentTypeId == 1">{{cont.content}}</p>
      <img *ngIf="cont.contentTypeId == 2" src="{{cont.content}}" />
    </div>
  </div>


  <div class="timelineSectionNav selected_Section{{currentSection}}">
      <ul>
          <li class="till">
              <button (click)="displayVersion('till')"><img src="./assets/icons/Till.png" /><p>Till<br/>Eulenspiegel</p></button>
          </li>
          <li class="maximilian">
              <button (click)="displayVersion('maximilian')"><img src="./assets/icons/Maximilian.png" /><p>Kaiser<br/>Maximilian</p></button>
          </li>
          <li class="sunthaym">
              <button (click)="displayVersion('sunthaym')"><img src="./assets/icons/Sunthaym.png" /><p>Ladislaus<br/>Sunthaym</p></button>
          </li>
      </ul>
  </div> 
</div>


