<div class="wrapper">
  
  <div class="loginFormWrapper">
    <form name="loginForm" [formGroup]="loginForm">
      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'login.username' | translate }}" required [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessage('name')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fix-mat-form-field">
        <mat-form-field class="full-with-field" appearance="outline">
          <input matInput placeholder="{{ 'login.password' | translate }}" type="password" required [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.invalid">{{getRequiredErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="error"><mat-error *ngIf="wrongLogin">{{getLoginErrorMessage()}}</mat-error></div>

      <button class="btnLogin" [disabled]="loginForm.invalid" (click)="loginDevice()">{{ 'login.btnSave' | translate }}</button>
    </form>


    <p> ------ {{ 'login.oder' | translate }} ------ </p>
    <button class="btnLoginGuest" (click)="loginAsGuest()">{{ 'start.registerGuestButton' | translate }}</button>
    <button class="btnRegister" (click)="forwardToRegister()">{{ 'start.registerButton' | translate }}</button>
  </div>
</div>
