<div class="btnBack"><img src="assets/icons/Timeline/{{getSectionIcon(location.parentId)}}.png" /></div>
<div class="wrapper Sec_{{location.parentId}}">
  <div class="wrapperContent">
      <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'en'">{{location.titleENG}}</h1>
      <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'de'">{{location.titleGER}}</h1>

    <div *ngFor="let cont of location.contents">
      <p *ngIf="cont.contentTypeId == 1">{{cont.content}}</p>
      <img *ngIf="cont.contentTypeId == 2" src="{{cont.content}}" />
    </div>

    <figure class="contentFig" *ngIf="location.id == 403 || location.id == 502">
      <img *ngIf="languageService.getCurrentLanguageAsString() === 'de'" alt="{{location.titleGER}}" src="assets/img/content/pic{{location.id}}.png" />
      <img *ngIf="languageService.getCurrentLanguageAsString() === 'en'" alt="{{location.titleENG}}" src="assets/img/content/pic{{location.id}}.png" />
    </figure>

    <p class="note">{{ 'notifiyExhibit.interactiveExhibitMsg' | translate }} "{{ 'notifiyExhibit.tableJoinButton' | translate }}"</p>
  </div>

  <div class="webdevtools" *ngIf="isWeb" style="margin-top:20px">
    <button (click)="redirectToOnTable()">Register Location TableOn</button>
  </div>

  <div class="btnJoin">
    <div class="ico"></div>
    <div class="msg">
      <div *ngIf="locationStatusFree">
        <button *ngIf="joinGame && locationSocketStatus !== 'OCCUPIED' && correctWifi == 'true'" (click)="startOnTableSearch()">{{ 'notifiyExhibit.tableJoinButton' | translate }}</button>
        <p *ngIf="!joinGame && locationSocketStatus !== 'OCCUPIED' && correctWifi == 'true'">{{ 'notifiyExhibit.beaconPutText' | translate }}</p>
        <p *ngIf="locationSocketStatus === 'OCCUPIED'">{{ 'notifiyExhibit.beaconOccupiedText' | translate }}</p>
        <p *ngIf="locationSocketStatus !== 'OCCUPIED' && correctWifi == 'false'">{{ 'tableAt.notAtWifi' | translate }}</p>
      </div>
      <div *ngIf="locationStatusOccupied"><p>{{ 'notifiyExhibit.tableOccupiedText' | translate }}</p></div>
      <div *ngIf="locationStatusOffline"><p>{{ 'notifiyExhibit.tableOfflineText' | translate }}</p></div>
    </div>
  </div>
  <div class="btnJoinDisabled" *ngIf="locationStatusOffline || locationStatusOccupied || !joinGame || locationSocketStatus === 'OCCUPIED'"></div>
</div>
