<div class="btnBack"><img src="assets/icons/Timeline/{{getSectionIcon(location.parentId)}}.png" /></div>
<div class="wrapper Sec_{{location.parentId}}">
  <div class="wrapperContent">
      <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'en'">{{location.titleENG}}</h1>
      <h1 *ngIf="languageService.getCurrentLanguageAsString() === 'de'">{{location.titleGER}}</h1>

    <div *ngFor="let cont of location.contents">
      <p *ngIf="cont.contentTypeId == 1">{{cont.content}}</p>
      <img *ngIf="cont.contentTypeId == 2" src="{{cont.content}}" />
    </div>

    <p class="note">{{ 'notifiyExhibit.interactiveExhibitMsg' | translate }}</p>
  </div>

  <div class="webdevtools" *ngIf="isWeb" style="margin-top:20px">
    <button (click)="redirectToOnTable()">Register Location TableOn</button>
  </div>

  <div class="btnJoin">
    <div class="ico"></div>
    <div class="msg">
      <div *ngIf="locationStatusFree">
        <button *ngIf="joinGame && locationSocketStatus !== 'OCCUPIED'" (click)="startOnTableSearch()">{{ 'notifiyExhibit.tableJoinButton' | translate }}</button>
        <p *ngIf="!joinGame && locationSocketStatus !== 'OCCUPIED'">{{ 'notifiyExhibit.beaconPutText' | translate }}</p>
        <p *ngIf="locationSocketStatus === 'OCCUPIED'">{{ 'notifiyExhibit.beaconOccupiedText' | translate }}</p>

      </div>
      <div *ngIf="locationStatusOccupied"><p>{{ 'notifiyExhibit.tableOccupiedText' | translate }}</p></div>
      <div *ngIf="locationStatusOffline"><p>{{ 'notifiyExhibit.tableOfflineText' | translate }}</p></div>
    </div>
  </div>
  <div class="btnJoinDisabled" *ngIf="locationStatusOffline || locationStatusOccupied || !joinGame || locationSocketStatus === 'OCCUPIED'"></div>
</div>
