@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body
{
  margin: 0;
  padding: 0;
}

#header{
  padding: 0 20px 0 40px;
}


#like, #unlike {
  margin: 20px 10px;
}

#dismissedButton {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#dismissedButton .mat-icon {
  width: 30px;
  height: 30px;
}

#dismissedButton .material-icons {
  font-size: 28px;
}

#dismissedButton .mat-badge-content {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 10px;
}
