<div class="wrapper">
  <h1>Willkommen {{user.name}}</h1>
  <br />
  <div class="webdevtools" *ngIf="isWeb">
    <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationTableAt()">Register Location TableAt</button>
    <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationTableAtBehavior()">Register Location TableAtBehavior</button>
    <button mat-raised-button class="control-button" color="primary" (click)="requestRegisterLocationPassive()">Register Location Passive</button>
  </div>

    <mat-list>
      <mat-list-item *ngFor="let location of timelineLocations">
        <mat-card class="timeline-card">
          <div class="timeline-card-left">
            <h3 matLine> {{location.description}} </h3>
          </div>
          <div class="timeline-card-right">
            <button mat-raised-button [disabled]="location.locked" class="registerLocationButton" color="primary" (click)="requestRegisterLocation(location.id, location.parentId)">Go to Exhibit</button>
          </div>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>

  <button id="nearestButton" *ngIf="closestExhibit" (click)="openDialogClosestExhibit()" mat-fab color="primary" [matBadge]="closestExhibit" matBadgePosition="before" matBadgeColor="accent">
    <mat-icon>room</mat-icon>
  </button>

