<div class="wrapper">
  <mat-card class="registerForm">
    <h1>Willkommen {{user.name}}</h1>
    <br />
    <div class="webdevtools" *ngIf="isWeb">
      <button mat-raised-button color="primary" (click)="requestRegisterLocationTableAt()">Register Location TableAt</button>
      <button mat-raised-button color="primary" (click)="requestRegisterLocationTableAtBehavior()">Register Location TableAtBehavior</button>
      <button mat-raised-button color="primary" (click)="requestRegisterLocationPassive()">Register Location Passive</button>
    </div>
  </mat-card>
</div>
