<div class="toolbar">
    <button class="closebutton" (click)="closeWindow()"><mat-icon>close</mat-icon></button>
  </div> 
  
  <div class="wrapper">
    <div class="infoWrapper">
      <h1>Legal Information</h1>
      <p>Resolution possession discovered surrounded advantages has but few add. Yet walls times spoil put. Be it reserved contempt rendered smallest. Studied to passage it mention calling believe an. Get ten horrible remember pleasure two vicinity. Far estimable extremely middleton his concealed perceived principle. Any nay pleasure entrance prepared her.</p>
      
      <p>This application is a part of the MEETeUX project at the St. Pölten University of Applied Sciences. <br/><a src="">Visit the website</a></p>
    </div>
  </div>